<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <h1 v-bind:title="menu">{{ title }}</h1>
      <p v-text="content"></p>
      <ul>
        <li v-for="sinItem in items">{{ sinItem }}</li>
        <!--v-for nam sluzi kao forech, uzima niz i ispuje vrednosti i tog niza-->
      </ul>
      <input type="text" v-model="item" />
      <!--pod v-modelom smo stavili da sve ono sto se tu ubaci ima tu vrednost idem-->
      <button @click="items.push(item)">Add item</button
      ><!--onda ovde dodajem addeventlistener kao @click i kazemo da sve sto je item stavljeno ubaci u niz items-->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      new Vue({
        el: "#app",
        data: {
          title: "My title",
          item: "",
          items: ["prvo", "drugo"],
          menu: "Ovo je vezba"
        }
      });
    </script>
  </body>
</html>
