<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <h1>Test</h1>
      <ul>
        <li v-for="item in items">
          <!--ovde koristimo foreach da ispisemo sve iz niza items-->
          {{ item.text }}
          <div v-if="item.checked">Aleksa je prdnuo.</div>
          <!--ovde postavljamo uslov ako je iz objekata tacno da se pojavi div i ispise ovo -->
        </li>
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      new Vue({
        el: "#app",

        data: {
          items: [
            { text: "ovo je proba 1", checked: true }, // ovo je objekat koji smo kreirali sa vrednostima
            { text: "ovo je proba 2", checked: true },
            { text: "ovo je proba 3", checked: true }
          ]
        }
      });
    </script>
  </body>
</html>
